 / {
    behaviors {
        animls: animls {
            compatible = "zmk,behavior-animation-layer-status";
            #binding-cells = <2>;
        };
    };

    animation_layer_status: animation_layer_status {
        compatible = "zmk,animation-layer-status";
        status = "okay";
        default-color = <0x0000FF>; // blue
        // pixels = <...>;
        // colors = <...>;
    };
};
